.navbar {
  display: flex;

  justify-content: space-between;

  color: #00dddd;
  height: 80px;
  background-color: #004f4f;


  .logo {
    font-weight: 300;
  }

  .search-field {
  width: 350px;
  height: 50px; 
  margin: auto 0;
}
}


