.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.task-card {
  width: 100%;
  margin: 10px 0;
}

.done {
  color: green;
  font-weight: bold;
}

.pending {
  color: red;
  font-weight: bold;
}
